# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

.packages
main_dev.dart

# Don't commit the input files according to Advent of Code FAQs
input/*
!input/aoc00.txt
