.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
lcov.info
Package.resolved

# Don't commit the input files according to Advent of Code FAQs
Sources/Data/*
!Sources/Data/Day00.txt
